#Ignore folders
/.idea
/archLogs
/dist
/lib
/META-INF
/logs
/reduKtor/logs
/target
/reduKtor/target
/backend-bugfinder/logs
/backend-bugfinder/target
*.iml
/bcomparatorgui/target/
/kootstrap/.idea/
/kootstrap/README
/kootstrap/pom.xml.orig
/kootstrap/target/
tmp/*
